.nyc_output/**
.vscode/**
.vscode-test/**
coverage/
node_modules/
out/
test/
src/
.gitignore
.travis.yml
coverconfig.json
sonar-project.properties
tsconfig.json
tslint.json
webpack.config.js